<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Francisco's Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Francisco's Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="mynav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="https://twitter.com/fecheverria18" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/francisco-echeverria-853ab62a/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/fcontreras18" target="_blank">GitHub</a></li>
          </ul>
        </div>  
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}  
    </div>
      <footer class="footer">
        <div class="row text-center">
          <div class="col-md-12 social-logo">
            <a href="https://www.facebook.com/francisco.contreras.714" target="_blank"><span class="entypo-facebook"></span></a>
            <a href="https://github.com/fcontreras18" target="_blank"><span class="entypo-github"></span></a>
            <a href="https://www.linkedin.com/in/francisco-echeverria-853ab62a/" target="_blank"><span class="entypo-linkedin"></span></a>
            <a href="https://twitter.com/fecheverria18" target="_blank"><span class="entypo-twitter"></span></a>
            <a href="https://plus.google.com/u/1/116597621852702608403" target="_blank"><span class="entypo-gplus"></span></a>
          </div>
        </div>
      </footer>
    </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
