{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Welcome to Francisco's Blog!</h1>

{% load static %}
<img src="{% static 'posts/home.jpg' %}" class="img-responsive center-block"/> 

<h2>Latest Posts</h2>
<hr/>
{% for post in posts.all %}

<a href="{% url 'post_details'  post.id %}"><h3>{{ post.title }}</h3></a>
<h5><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}</h5>
<br>
<img src="{{ post.image.url }}" class="img-responsive center-block" style="max-height: 150px;"/>
<br>
<p>{{ post.summary }}</p>
<br>
<br>
<hr/>
{% endfor %}

{% endblock %}